@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* a{
    color: black;
    text-decoration: none;
}
body{
    background-image: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    z-index: 1;
    position: fixed;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
header h1{
    font-size: 1.5rem;
}
.header-user{
    border: 1px solid black;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
}
.header{
    margin: .5rem;
    padding: .5rem;
    border-radius: 3px;
}
.menu-1{
    position: relative;
}
.menu-1:hover{
    background: #bac8e0;
}

.admin-space{
    margin: 0 1rem 0 0;
}
main{
    display: flex;
}
.left-panel{
    margin-top: 5vh;
    position: fixed;
    width: 15%;
    height: 94.5vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.user-info{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
}
.user-info>img{
    height: 2rem;
    border-radius: 50%;
    margin: 7px;
}
.admin-links{
    margin-right: 1rem;
    margin-left: 1rem;
}
.admin-icon{
    margin-right: 1rem;
    margin-left: 1rem;
}
.link {
    padding: 1rem;
    font-size: 1.2rem;
}
.link:hover{
    background: #bac8e0;
    border-radius: 6px;
}
.move-arrow{
    position: absolute;
    left: 94%;
    bottom: 2rem;
    font-size: 2rem;
    cursor: pointer;
}
.remove-arrow{
    position: absolute;
    left: 20%;
    bottom: 2rem;
    font-size: 2rem;
    cursor: pointer;
}
.right-panel{
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    margin-top: 2.5%;
    margin-left: 15%;
    max-height: 100vh;
    max-width: 100%;
}
.container{
    margin: 1%;
    text-align: center;
    border-radius: 6px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.graph{
    min-width: 50%;
    max-width: 70%;
}
.graph1{
    max-width: 30%;
    min-width: auto;
}
.go-home{
    color: red;
}

